@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

body{
    font-family: 'Dosis', sans-serif !important;
    color: white !important;
}

.main{
    background-image: url("../img/japan.jpg");
    height: 100vh;
    display: flex;
    text-align: center;
}

.main-form{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5%;
    margin: auto;

}

.main-form h2{
    margin-bottom: 4%;
    width: 101%;
}

.search-form{
    width: fit-content;
    margin: 0 auto;
}

.icon{
    color: white !important;
    font-size: 5em;
}

.display-items h1{
    font-size: 1.7em;
}