@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


body{
    font-family: 'Dosis', sans-serif !important;
    color: white !important;
}

.main{

    background-image: url("../img/sky.jpg");
    height: 100vh;
    display: flex;
    text-align: center;
}

.main h1{
    font-size: 5em;
}

.main h2{
    margin-bottom: 4%;
}

.main-form{
    border-radius: 30px;
    background-color: rgb(67, 121, 255, 0.4);
    padding: 5%;
    margin: auto;
}

.search-form{
    width: fit-content;
    margin: 0 auto;
}

.icon{
    color: white !important;
    font-size: 5em;
}